{% extends "base.html" %}
{% load static %}
{% block title %}Signup{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-auth">Create Account</button>
    </form>
    <p class="small-text">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}
